In [4]:
import pandas as pd

In [5]:
import pandas as pd
pd

In [7]:
df = pd.read_excel('test/data/names.xlsx')

In [8]:
df.head()

   Unnamed: 0 Unnamed: 1         Unnamed: 2 Unnamed: 3
0         NaN   Person 1  Relation (1 of 2)   Person 2
1         NaN   Shantanu            Husband      Ganga
2         NaN   Shantanu            Husband  Satyavati
3         NaN   Shantanu             Father    Bhishma
4         NaN      Ganga             Mother    Bhishma